.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid black;
  background-color: rgb(240, 216, 216);
}

.logo {
  height: 100px;
  width: 100px;
}

.logo-items > ul {
  display: flex;
}

.logo-items > ul > li {
  padding: 10px;
  margin: 10px;
  list-style-type: none;
  font-size: 24px;
}
.search {
  padding: 10px;
  margin: 10px 0px;
}
.res-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.res-card {
  width: 200px;
  border: 1px solid grey;
}

.res-card:hover {
  border: 1px solid black;
}

.res-card > img {
  width: 190px;
  height: 190px;
}

.res-card > div {
  font-weight: bold;
}

.filter {
  padding: 5px;
  margin: 5px;
}

.cuisines {
  color: red;
  font-size: small;
}

.shimmerCard {
  width: 160px;
  background-color: rgb(185, 177, 177);
  height: 300px;
  margin: 10px;
  padding: 10px;
}

.loginBtn {
  padding: 10px;
}